.flags {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.home-foods {
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 5rem;
}